*{
    box-sizing: border-box;
}

.CarList {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 0 auto;
    padding: 0;
}


.CarList-Item {
    width: 100%;
    max-width: 375px;
    height: 475px;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    margin: 25px auto;
}

.CarList-Item-Last {
    width: 100%;
    max-width: 375px;
    margin: 25px auto;
}

.AddCar {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    margin: 25px;
    display: inline-block;
    color: #646cff;
  }
  .AddCar:hover {
    border-color: #646cff;
  }
  .AddCar:focus,
  .AddCar:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  .Header {
    display: flex;
    justify-content: space-between;
  }

  .Footer {
    display: flex;
    justify-content: space-around;
  }

.ShowCheckbox {
    display: flex;
}

.HideCheckbox {
    display: none;
}

.BulkDelete:hover {
  border-color: red;
}

.DeleteAllShow {
  display: flex;
  justify-content: center;
}

.DeleteAllHide {
  display: none;
}

.DeleteAllBtn {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
}

.DeleteAllBtn:hover {
  transform: translateY(-5px);
}

.DeleteAllImg {
  width: 25px;
  height: 25px;
}
  